



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold; 
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}




/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {

	font-family: Poppins-Regular, sans-serif;
  background-color: #111;
  
}

.main {
  position: relative;
  background-color: #111;
}



.news-container {
  background-color: #111;
  background-size: 100vw;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-width: 850px;
  position: absolute;

  top: 135px; 
  /* border: white 1px solid; */
  margin: auto;
  /* margin-left: 250px; */
}

.news-container a{
  text-decoration: none;
  color: white;
  display: flex;
  margin: 0 auto;
  padding: 1.5rem;
}


.photo {
  height: 20vh;
  margin: 0 auto;
  margin-right: 2rem;

  top: 135px;
  width:auto;
  height:auto;
  margin-left: 8vw;
  /* margin-left: 250px; */
}

.news-card {
  margin-top:2.5vw;
  padding-bottom: 2.5vw;
}

.news-card img{
  height: 20vw;
  width:30vw;

}

.abc{
  display:flex;
  flex-direction: row;
}

.txt{
  margin-left: 10vw;
}

.txt :hover{
  text-decoration: none;
}

h3, h6{
  margin-top: 1.5vw;
}
.btn{
  margin-top: 3.5vw;

}



/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.bg1 {background-color: #3b5998}
.bg2 {background-color: #1da1f2}
.bg3 {background-color: #ea4335}



/*//////////////////////////////////////////////////////////////////






//////////////////////////////////////////////////////////////////
/* [ Responsive ] */

@media (max-width: 576px) {
  .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
  }
} 